<%- include('header') -%>

<div class="d-flex">
    <div class="w-auto vh-100">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 200px;">
            <a href="/memo" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold">Memo List</span>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">
            <% if(memoList != null) { %>
                <% for(var i = 0; i < memoList.length; i++) { %>
                    <% if(memoList[i].memoId == memoDetail.memoId) { %>
                      <a href="/memo?id=<%= memoList[i].memoId %>" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                          <strong class="mb-1"><%= memoList[i].title %></strong>
                          </div>
                          <div class="col-10 mb-1 small"><%= memoList[i].updatedAt.substring(0,10) %></div>
                      </a>
                    <% } else { %>
                      <a href="/memo?id=<%= memoList[i].memoId %>" class="list-group-item list-group-item-action py-3 lh-sm">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                          <strong class="mb-1"><%= memoList[i].title %></strong>
                          </div>
                          <div class="col-10 mb-1 small"><%= memoList[i].updatedAt.substring(0,10) %></div>
                      </a>
                  <% } %>
                <% } %>
            <% } %>
            <a href="/createMemo" id="createMemo" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">+ New Memo</strong>
              </div>
            </a>
            </div>
        </div>
    </div>
    <div class="w-auto vh-100 mt-2 ms-3">
      <h1 id="title"><%= memoDetail.title %></h1>
      <p id="script" style="min-height: 30vh;"><%= memoDetail.content %></p>
      <% if (memoList != null) { %>
      <input type="submit" id="updateBtn" value="Update" class="btn btn-lg btn-primary mb-lg-1">
      <script>
        document.getElementById('updateBtn').addEventListener('click', (evt) => {
          window.location = "/updateMemo?id=<%= memoDetail.memoId %>"
        })
      </script>
      <form>
          <input type="hidden" id="memoId" value="<%= memoDetail.memoId %>">
          <% array_of_memoId = []; %>
          <% array_of_memoId.push(memoDetail.memoId)%>
        <input type="hidden" id="memoIds" value="<%= JSON.stringify(array_of_memoId) %>">
        <input type="submit" id="deleteBtn" value="Delete" class="btn btn-lg btn-primary mb-lg-1">
      </form>
      <script src="/javascripts/rmMemo.js"></script>
      <% } %>
    </div>
</div> 

<%- include('footer') -%>
